@model NewTicketVM

@{
    ViewData["Title"] = "Create";
    Layout = null;
}


<div class="row">
    <div class="col-md-10 offset-1">
        <form asp-action="Create" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.Projects">
                    <option> Select Project </option>
                </select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
                <a class="btn btn-outline-secondary" data-dismiss="modal" aria-label="Close">Cancel</a>
            </div>
        </form>
    </div>
</div>

